<div class="body">
  <footer>
    <div class="list">
      <strong>
        Условия
      </strong>
    </div>
    <div class="list">
      <strong>
       
Политика конфиденциальности
      </strong>
     
    </div>
    <div class="list">
      <strong>
        Файлы cookie
      </strong>
    </div>
    <div class="list">
      <strong>      
Информация о рекламе
      </strong>
      <a>Facebook</a>
      <a>Twitter</a>
      <a>Telegram</a>
      <a>WhatsApp</a>
    </div>
  </footer>
  <div class="bottom">
    Москва, 2020
  </div>
</div>
